:root {
    --main-color: #185ea7;
    --main50-color: rgba(24, 94, 160, 0.5);
    --main10-color: rgba(24, 94, 160, 0.1);
    --white-color: #ffffff;
    --white-gray-color: #f5f5f5;
    --gray-color: #f9f9f9;
    --black-color: #000000;
    --black50-color: #00000080;
    --black25-color: #00000040;
    --error-red: #ff0000;
    --bluelinenav-color: #8BAECF;
}

.hamburger-body {
    overflow-y: hidden;
}

.hamburger-block-overlay {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.hamburger-block-overlay.active {
    opacity: 1;
    pointer-events: auto;
}
.hamburger-block-overlay.closing {
    opacity: 0;
    pointer-events: none;
}

.hamburger-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    height: 100vh;
    width: 60%;
    max-width: 280px;
    padding: 20px 10px;
    background-color: var(--white-color);
    border-radius: 10px 0 0 10px;
    border: var(--main-color) 2px solid;
    border-right: none;
    overflow-y: auto;
    z-index: 1000;
    transition: right 0.4s ease-out;
}

.hamburger-overlay.active {
    right: 0;
}

.hamburger-overlay.closing {
    right: -100%;
}

.hamburger-overlay-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    min-height: calc(100% - 40px); /* Account for padding */
}

.hamburger-overlay .hamburger-overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
}
.hamburger-overlay .hamburger-overlay-header h4 {
    color: var(--main-color);
}
.hamburger-overlay-header-setting {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
.hamburger-overlay .close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 5vw;
    max-width: 30px;
    height: auto;
}

.hamburger-overlay .close-btn img {
    width: 100%;
    height: auto;
}

.hamburger-overlay h5 {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

.hamburger-overlay .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    flex-grow: 1;
}

.hamburger-overlay .setting-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 10px;
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--black50-color);
}

.hamburger-overlay .setting-image {
    position: relative;
    display: inline-block;
    width: auto;
}

.hamburger-overlay .setting-image img:first-child {
    display: block;
    width: 100%;
}

.hamburger-overlay .setting-image img:last-child {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s ease-in-out;
}

.hamburger-overlay .setting-image img:last-child.move-left {
    right: auto;
    left: 0;
}

.hamburger-overlay .sign-out-btn {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-top: auto; /* Pushes to bottom */
    padding-top: 20px; /* Space from content above */
    padding-bottom: 50px;
    color: var(--error-red);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.hamburger-overlay .sign-out-btn img {
    width: 15px;
    height: auto;
}