:root {
  --main-color: #185EA0;
  --main50-color: rgba(24, 94, 160, 0.5);
  --main10-color: rgba(24, 94, 160, 0.1);
  --white-color: #ffffff;
  --white-gray-color: #f5f5f5;
  --gray-color: #f9f9f9;
  --black-color: #000000;
  --black50-color: rgba(0, 0, 0, 0.5);
  --black25-color: rgba(0, 0, 0, 0.25);
  --error-red: #ff0000;
  --bluelinenav-color: #8baecf;
  --green-color: #3f9633;
}
.account-container2-html {
  background-color: var(--main-color);
}
.account-container2-body {
  background-color: var(--white-color);
  overflow-y: auto;
}
.account-container2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  row-gap: 10px;
}
.account-container2 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.account-container2 .header > #hamburger {
  width: auto;
  height: auto;
  border: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}
.account-container2 .header > #hamburger > img {
  display: block;
  width: 9vw;
  max-width: 60px;
  height: auto;
}
.account-container2 .header > #typo {
  width: 25vw;
  max-width: 150px;
  height: auto;
}
.account-container2 .header > #logo {
  width: 9vw;
  max-width: 60px;
  height: auto;
  border-radius: 50%;
}
.account-container2 .main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.account-container2 .main h1 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 2;
}
.account-container2 .nav-up {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.account-container2 .nav-list-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.account-container2 .nav-item-up {
  list-style: none;
  background-color: var(--main10-color);
  border: none;
  border-radius: 6px;
  width: 170px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.account-container2 .nav-item-up > a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: normal;
}
.account-container2 #active-nav-up {
  background-color: var(--main-color);
  color: var(--white-color);
}
/* ----------------------------------------- */
.account-container2 .account-form2 {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 90%;
  max-width: 500px;
}
.account-container2 .account-form2 > div {
  display: flex;
  justify-content: space-between;
}
.account-container2 .account-form2 label {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: normal;
}
.account-container2 .account-form2 input,
#account-gender {
  background-color: var(--white-gray-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  width: 65%;
  padding-right: 10px;
  padding-left: 45px;
  height: 35px;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
}
.account-container2 #account-name,
#account-family,
#account-gender,
#account-bd {
  text-align: right;
}
.account-container2 #account-ident-num {
  background-image:
    url(../../../media/icons/lock_icon.svg),
    /* Lock icon */
      linear-gradient(to bottom, var(--main-color), var(--main-color)); /* Vertical line */
  background-repeat: no-repeat;
  background-position:
    left 10px center,
    /* Icon position */ left 31px center; /* Vertical line position */
  background-size:
    11px 14px,
    /* Icon size */ 1px 100%; /* Line width and height */
  padding-left: 45px; /* Space for icon + line + buffer */
}
.account-container2 #account-gender {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(../../../media/icons/down_arrow_icon.svg);
  background-repeat: no-repeat;
  background-position: left 10px center; /* RTL support */
  background-size: 14px;
  padding-left: 2rem; /* space for arrow */
}
.account-container2 #account-bd {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(../../../media/icons/calendar_icon.svg);
  background-repeat: no-repeat;
  background-position: left 10px center; /* RTL support */
  background-size: 14px;
  padding-left: 45px;
  text-align: left;
}
.account-container2 #account-gender,
#account-bd {
  cursor: pointer;
}
.account-container2 #account-submit2 {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.account-container2 #account-submit2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: var(--green-color);
  color: var(--white-color);
  border-radius: 6px;
  box-shadow: 0px 4px 4px var(--black25-color);
  font-size: 0.7rem;
  font-weight: normal;
}
.account-container2 #account-submit2 > div > svg {
  width: 10px;
  height: auto;
  color: var(--white-color);
}
.account-container2 #account-submit2 input {
  width: 75px;
  padding: 0;
  text-align: center;
  background-color: var(--main-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
}
.account-container2 ::placeholder {
  color: var(--black50-color);
}

.account-container2 .rmdp-container {
  width: 65%;
}

.account-container2 .account-form2 .custom-datepicker-input {
  width: 100%;
  text-align: right;
}

.account-container2 .nav {
  padding: 5px 0 5px 0;
  border-top: var(--bluelinenav-color) 3px solid;
  position: sticky;
  bottom: 0;
  background-color: var(--white-color);
}
.account-container2 .nav > .nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.account-container2 .nav > .nav-list > li {
  list-style: none;
}
.account-container2 .nav > .nav-list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main50-color);
  font-size: 0.7rem;
  font-weight: normal;
}
.account-container2 .nav > .nav-list > li > #active-nav {
  color: var(--main-color);
}
.account-container2 .nav > .nav-list > li > a > .nav-icon > img {
  display: block;
  margin-bottom: 5px;
  height: 7vw;
  max-height: 36px;
  width: auto;
}
