@font-face {
  font-family: vazir;
  src: url('media/fonts/Vazir-Regular-UI.woff2') format('woff2'),
       url('media/fonts/Vazir-Regular-UI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('media/fonts/Vazir-Bold-UI.woff2') format('woff2'),
         url('media/fonts/Vazir-Bold-UI.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('media/fonts/Vazir-Black-UI.woff2') format('woff2'),
         url('media/fonts/Vazir-Black-UI.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('media/fonts/Vazir-Medium-UI.woff2') format('woff2'),
         url('media/fonts/Vazir-Medium-UI.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('media/fonts/Vazir-Light-UI.woff2') format('woff2'),
         url('media/fonts/Vazir-Light-UI.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('media/fonts/Vazir-Thin-UI.woff2') format('woff2'),
         url('media/fonts/Vazir-Thin-UI.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "vazir", sans-serif;
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
:root {
    --main-color: #185ea7;
    --main50-color: rgba(24, 94, 160, 0.5);
    --main10-color: rgba(24, 94, 160, 0.1);
    --white-color: #ffffff;
    --white-gray-color: #f5f5f5;
    --gray-color: #f9f9f9;
    --black-color: #000000;
    --black50-color: rgba(0, 0, 0, 0.5);
    --black25-color: rgba(0, 0, 0, 0.25);
    --error-red: #ff0000;
    --bluelinenav-color : #8BAECF;
    --green-color: #3F9633;
}
html {
  background-color: var(--main-color);
}
body {
  background-color: var(--white-color);
  overflow-y: auto;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  row-gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header > #hamburger {
  width: auto;
  height: auto;
  border: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}
.header > #hamburger > img {
  display: block;
  width: 9vw;
  max-width: 60px;
  height: auto;
}
.header > #typo {
  width: 25vw;
  max-width: 150px;
  height: auto;
}
.header > #logo {
  width: 9vw;
  max-width: 60px;
  height: auto;
  border-radius: 50%;
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
/* ---------------------------------forms style */
.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 500px;
  flex-grow: 1;
}
.observe-forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: space-evenly;
  background-color: var(--white-gray-color);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 5px 10px;
}
#form1 {
  flex-grow: 3.66;
}
#form2 {
  flex-grow: 1;
}
form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
label {
  font-size: 0.7rem;
  font-weight: normal;
}
input {
  width: 60%;
  padding: 0 10px 0 30px;
  height: 4vh;
  border: none;
  border-radius: 6px;
  background-color: var(--white-color);
  box-shadow: 0 1px 4px var(--black25-color);
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--black50-color);
}
.upload-label {
  width: 60%;
  padding: 0 10px 0 30px;
  background-color: var(--white-color);
  box-shadow: 0 1px 4px var(--black25-color);
  font-size: 0.7rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  height: 6vh;
  border: none;
  border-radius: 6px;
  color: var(--black50-color);
}
textarea {
  width: 60%;
  padding: 0 10px 0 30px;
  background-color: var(--white-color);
  box-shadow: 0 1px 4px var(--black25-color);
  font-size: 0.7rem;
  font-weight: normal;
  height: 6vh;
  border: none;
  border-radius: 6px;
  resize: none;
  line-height: 2;
  text-align: justify;
  vertical-align: top;
  overflow-y: auto;
}
.observe-forms form:first-of-type div:not(:nth-of-type(1)):not(:nth-of-type(2)) input, .upload-label, textarea {
  background-image: url(media/icons/edit_gray_icon.svg);
  background-repeat: no-repeat;
  background-position: left 10px center; /* RTL support */
  background-size: 10px;
  cursor: pointer;
  color: var(--black-color);
}
/* When input is focused: green icon */
.observe-forms form:first-of-type div:not(:nth-of-type(1)):not(:nth-of-type(2)) input:focus, .upload-label:focus, textarea:focus {
  background-image: url(media/icons/edit_green_icon.svg);
}
::placeholder {
  color: var(--black50-color);
}
.display-none-element {
  display: none;
}
/* -----------------------------------------confirm edit button style */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
}
.observe-confirm-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  height: 35px;
  background-color: transparent;
  border: 1px solid var(--green-color);
  border-radius: 6px;
}
.observe-confirm-edit img {
  width: 14px;
  height: auto;
}
.observe-back {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  font-size: 0.7rem;
  font-weight: normal;
}
.observe-back img {
  width: 12px;
  height: auto;
}



/* -----------------------------------------bottom navigation style */
.nav {
  padding: 5px 0 5px 0;
  border-top: var(--bluelinenav-color) 3px solid;
  position: sticky;
  bottom: 0;
  background-color: var(--white-color);
}
.nav > .nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav > .nav-list > li {
  list-style: none;
}
.nav > .nav-list > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: var(--main50-color);
  font-size: 0.7rem;
  font-weight: normal;
}
.nav > .nav-list > li > #active-nav {
  color: var(--main-color);
}
.nav > .nav-list > li > a > .nav-icon > img{
  display: block;
  margin-bottom: 5px;
  height: 7vw;
  max-height: 36px;
  width: auto;
}