@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Regular-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Regular-UI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Bold-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Bold-UI.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Black-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Black-UI.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Medium-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Medium-UI.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Light-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Light-UI.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: vazir;
  src:
    url('./media/fonts/Vazir-Thin-UI.woff2') format('woff2'),
    url('./media/fonts/Vazir-Thin-UI.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
/* Light theme uses variables defined in each page’s CSS (e.g. Home.css and Login.css) */
:root {
  --main-color: #185EA0;
  --main50-color: rgba(24, 94, 160, 0.5);
  --main10-color: rgba(24, 94, 160, 0.1);
  --white-color: #ffffff;
  --white-gray-color: #f5f5f5;
  --gray-color: #f9f9f9;
  --black-color: #000000;
  --black50-color: rgba(0, 0, 0, 0.5);
  --black25-color: rgba(0, 0, 0, 0.25);
  --error-red: #ff0000;
  --bluelinenav-color: #8baecf;
  --green-color: #3f9633;
}

html.dark,
body.dark {
  --main-color: #185EA0;
  --main50-color: #86a9ca;
  --main10-color: #dee5ec;
  --white-color: #000;
  --white-gray-color: #f5f5f5;
  --gray-color: #f9f9f9;
  --black-color: #fff;
  --black50-color: #7a7a7a;
  --black25-color: #b8b8b8;
  --error-red: #ff0000;
  --bluelinenav-color: #8baecf;
  --green-color: #3f9633;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'vazir', sans-serif;
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;


  /* warning */
  /* color: var(--black-color) */
}

h1, h2, h3, h4, h5, h6, p, a, button, label, input, textarea, select, th, td, ul, ol, li {
  color: var(--black-color);
}

html, body {
  transform: none !important;
  backface-visibility: hidden;
  will-change: auto;
  contain: paint layout style; /* Optional but adds more isolation */
}